<div class="content-sidebar">

    {{#is "home"}}
    {{else}}
        <div class="widget sidebar-featured">
            <h4 class="sidebar-featured-header">Florian Beisel</h4>
            <p>{{@blog.description}} <a href="/uber-mich" class="article_link-more fa fa-long-arrow-right"></a></p>
        </div>
		
        <hr/>
    {{/is}}


    <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Must Read</h4>
        {{#get "posts" limit="all" filter="featured:true"}}
            <ul>
            {{#foreach posts}}
                <li><a href="{{url}}">{{title}}</a></li>
            {{/foreach}}
            </ul>
        {{else}}
            {{#if @error}}{{@error}}{{/if}}
        {{/get}}
    </div>
</div>
